*{font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h1{  /* Title */
    font-size: 28px;
    color: #42455C;
    font-weight: 600;
    margin: 16px 6px 16px 0px;
}
h3 {  /* Map Titles */
    font-size: clamp(48px, 6vw, 90px);
    color: rgb(255, 255, 255);
    font-weight: 800;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 { /* About, Contact, and Recommended */
    font-size: clamp(22px, 3vw, 28px);
    color:#1d1d1d;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}
p { /* Paragraph Content Text */
    font-size: clamp(16px, 2vw, 20px);
    text-indent: 40px;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}
.dropbtn{ /* Maps on header */
    font-size: 30px;
    color: #42455C;
    margin: 16px 6px 4px 0;
    font-family: cool;
}
@font-face {
	font-family: cool;
	src: url(../coolvetica.ttf);
  }
.heading-p { /*welcome*/
    font-size: clamp(16px, 2vw, 20px);
    text-align: center;
    font-weight: 600;
    color: #000000;
}
.support-text{
    font-size: 17px;
}
.submit {
    margin-top: 26px;
}
