* {
    margin: 0px;
	padding: 0px;
}
html{height:100%;}
body {
	background-color: #f3f3f3;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}




.panel1 {
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.144), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
    margin: clamp(30px, 3vw, 44px) auto;
    border-radius: 5px;
	padding: 30px;
	width: clamp(400px, 65vw, 1200px);
}
.panel1 p {
	margin-top: 10px;
}
.panel2 {
    background-color:  #dfdfdf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.144), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;


	padding: 12px;
	margin-top: auto;
	margin-bottom: 24px;
}
.panel3{
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.144), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
	margin: clamp(30px, 3vw, 44px) auto;
	border-radius: 5px;
	padding: 0 40px 30px 40px;
	width: clamp(400px, 65vw, 1200px);
}
.twitter-link {
	font-size: clamp(16px, 2vw, 20px);
	color: #5c6bdb;
}
.panel3 h2 {
	margin-top: 32px;
	margin-bottom: 10px;
}
.container {
	position: relative;
	text-align: center;
  }
.map-image {
	width: 100%;
	height: clamp(80px, 11vw, 150px);
	z-index: -1;
	object-fit: cover;
}





.footer {
	background-color: #dfdfdf;
}
.footer-auto-top {
	margin-top: auto;
	background-color: #dfdfdf;
}
.footcenter {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	width: 294px;
	height: 100px;
}
.footerList {
	margin:  auto auto auto 0;
	display: flex;
	flex-direction: row;
}
.footerList li {
	list-style-type: none;
	margin: 0px 10px;
}
.footer a {
	margin: auto;
	color:rgb(44, 44, 44);
}
.footLogo {
	width: 30px;
	margin-bottom: -4px;
}




.keyboard-container {
	display: flex;
	flex-direction: row;
}
.keyboard-container div {
	margin: 10px 12px 0px 0px;
	padding: 10px 16px;
	color: white;
	background-color:#5c6bdb;
	border-radius: 8px;
	background: rgb(71,78,147);
	background: linear-gradient(164deg, rgba(71,78,147,1) 0%, rgba(92,107,219,1) 79%); 
}


.videoSlides{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}
iframe{
	width: 50.5vw;
	height: 28.4vw;
	min-width: 390px;
	min-height: 220px;
	border: none;
	margin-right: auto;
	margin-left: auto;
}
.videoSlides input{
	height: 8vw;
	max-height: 80px;
    margin: auto clamp(20px, 3vw, 50px);
	outline:none;
}


.dots {
    width: 8%;
    max-width: 70px;
    display: block;
	margin: 10px auto 40px auto;
}
.hide {
	display: none;
}
.videoLinks {
	margin: 20px 0 20px 50px;
}
.videoLinks li {
	font-weight: 600;
	margin: 12px;
	color: #5c6bdb;
	font-size: clamp(16px, 3vw, 22px);
}
.videoLinks a{font-size: clamp(20px, 3vw, 26px);text-decoration: underline;}
.center {
	margin: 0 auto 0 auto;
	position: relative;
}
@media (max-width: 535px) {
	.panel1{
		width: clamp(250px, 70vw, 450px);
		padding: 22px;
	}
	.panel3{
		width: clamp(270px, 70vw, 450px);
		padding: 0px 24px 40px 24px;
	}
	.dropbtn {
		margin: 8px auto 8px auto;
		font-size: 19px;
	}
	.button {
		border-radius: 20px;
		margin: 6px 4px 0 0;
		border: 2px solid #5c6bdb;
	}
	.buttonText {
		font-size: 14px;
		padding: 4px 7px;
		font-weight: 600;
	}
	.title {
		margin: 11px 0px 12px 8px;
		font-size: 19px;
	}
	.dropDownContent a{
		padding: 14px 20px;
		font-size: 16px;
	}
	#Down {
		width: 11px;
		margin-left: 3px;
		margin-bottom: 1px;
	}
	.logo {
		display: none;
	}
	.text-logo{
		width: 120px;
		margin-top: 5px;
		margin-left: 11px;
	}
	.videoSlides {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	.videoSlides input{
		height: clamp(34px, 10vw, 50px);
		outline:none;
		margin: auto 4px
	}
	iframe{
		width:	70vw;
		height: 39vw;
		min-width: 250px;
		min-height: 142px;
		margin: auto;
	}
	.dots {
		width: 12%;
		max-width: 70px;
	}
	.videoLinks {
		margin: 6px 0 20px 26px;
	}
	.panel2{
		width: 280px;
	}
	.center {
		left: 34px;
	}
	.footLogo {
		width:24px;
	}


}
