* {
    margin: 0px;
	padding: 0px;
}
html{height:100%;}
body {
	background-color: #f3f3f3;

	display: flex;
	flex-direction: column;
	min-height: 100%;
}




.panel1 {
	background-color: #42455C;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.144), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
    margin: clamp(30px, 3vw, 44px) clamp(40px,14vw,1200px);
    border-radius: 5px;
	padding: 30px;
	min-width: 455px;
}
.panel1 p {
	margin-top: 10px;
	color: white;
}
.panel2 {
    background-color:  #dfdfdf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.144), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: clamp(300px,42vw,600px);

	padding: 12px;
	margin-top: auto;
	margin-bottom: 24px;
}
.panel2 h4{
	font-weight: 500;
	color: black;
}




.footer {
	background-color: #dfdfdf;
}
.footcenter {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	width: 380px;
	height: 100px;
}
.footerList {
	margin:  auto auto auto 0;
	display: flex;
	flex-direction: row;
}
.footerList li {
	list-style-type: none;
	margin: 0px 12px;
}
.footer a {
	margin: auto;
	color:rgb(44, 44, 44);
}
.footTwitter {
	width: 40px;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
}
.footLogo {
	width: 50px;
	transition-duration: 1.4s;
	margin-bottom: -4px;
}




.videoSlides{
	display: flex;
    flex-direction: row;
}
iframe{
	width: 50%;
	height: 28.1vw;
	min-width: 300px;
    min-height: 170px;
}
.videoSlides input{
	height: 8vw;
	max-height: 100px;
    margin: auto;
	outline:none;
}
.arrow1{padding-left: 10vw;}
.arrow2{padding-right: 10vw;}
.dots {
    width: 8%;
    max-width: 70px;
    display: block;
	margin: 10px auto 40px auto;
}
.hide {
	display: none;
}
.videoLinks {
	margin: 20px 0 20px 50px;
}
.videoLinks iframe {
    width: 50%;
    height: 27vw;
    min-width: 300px;
    min-height: 170px;
}
.videoLinks li {
	color: rgb(46, 46, 46);
	font-weight: 600;
	text-decoration: underline;
	margin: 12px;
	color: #5c6bdb;
	font-size: clamp(16px, 3vw, 22px);
}
.videoLinks a{font-size: clamp(20px, 3vw, 26px);}