.navbar {
    /*background: #a2e858;*/
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    overflow: hidden;   

}
.navbar a {
    float: left;
    text-decoration: none;
}
.logo {
    width: 21px;
    margin: 0 8px 0 28px;
}
.text-logo{
    width: 178px;
    margin-top: 11px;
    height: 100%;
    filter: invert(25%) sepia(5%) saturate(2379%) hue-rotate(196deg) brightness(100%) contrast(93%);
}
.dropDown {
    float: left;
    overflow: hidden;
    margin-left: clamp(8px, 2vw, 15px);
}
#Down {
    width: 16px;
    margin-left: 5px;
    margin-bottom: 2px;
}
.dropDownContent {
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownContent a{
    float: none;
    color:#232323;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
}
.dropDownContent a:hover {
    background-color: #ebebeb;
}



.button {
    border-radius: 26px;
    margin: 10px clamp(10px, 2vw, 18px);
    border: 3px solid #5c6bdb;
    outline:none;
    background-color: #ffffff00;
    float: right;

}
button:hover {
    border-color: #5c6bdbb2;
    transition-duration: 0.30s;
}
.buttonText {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 18px;
    color:#5c6bdb;
}
.buttonText:hover{color: #5c6bdbb2;transition-duration: 0.30s;}
.googleimg {
    width: 20px;
    margin: 15px -5px 0 16px;
}