.navbar {
    background-color: #9BD65C;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar a {
    float: left;
    text-decoration: none;
}

.title {
    margin: 16px 6px 0 0px;
}
.logo {
    width: 22px;
    margin: 0 8px 0 28px;
    transition-duration: 1s;
}
.logo:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.6s ease-in-out 0s;
}
.navbar h2 {
    padding: 16px 0 2px 0;
}
.dropDown {
    float: left;
    overflow: hidden;
    margin-left: clamp(8px, 2vw, 15px);
}
#Down {
    width: 16px;
    margin-left: 5px;
    margin-bottom: 2px;
}
.dropDownContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
@font-face { font-family: coolvectica rg; src: url('../coolvetica rg.ttf'); } 
.dropDownContent a{
    float: none;
    color:#232323;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
}
.dropDownContent a:hover {
    background-color: #ebebeb;
}



.button {
    border-radius: 26px;
    margin: 10px clamp(10px, 2vw, 18px);
    border: 3px solid rgb(0, 0, 0);
    outline:none;
    background-color: #ffffff00;
    float: right;
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
}
button:hover {
    transition-duration: 0.25s;

}
.buttonText {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 18px;
}
.googleimg {
    width: 20px;
    margin: 15px -5px 0 16px;
}